#title {
    font-weight: bold;
    font-size: 40;
    margin-left: 10px;
    margin-top: 10px;
}

.coinsList{
    color: white;
    list-style-type: none;
    margin-top: 30px;
}

.coinRANK{
    display: inline-block;
    margin-left: 50px;
}

.coin-image{
    display: inline-block;
    margin-left: 50px;
}

.coin-info{
    display: inline-block;
}

#coinIMG{
    max-width: 50px;
    max-height: 50px;

}

.coin{
    padding: 25px;
}

.coinData {
    margin-left: 60px;
}

span{
    max-width: 50px;
}

.checkbox-favoritos{
    width: 20px;
    height: 20px;
}

.btn-image{
    background-color: transparent;
    border: 0;
}

.coinLOGO-container{
    padding: 50px;
    text-align: center;
}

#coinLOGO{
    max-width: 300px;
    max-height: 300px;
    
}

.coin-panel-details{
    color: white;
    text-align: center;
    margin-top: 30px;
}

.coinDetails{
    float: middle;
}

.searchBar{
    max-width: 450px;
    margin: 30px auto;
}

.searchBar .searchInput{
    background: white;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0 , 0 , 0 , 0.12);
    position: relative;
}

.searchInput input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.searchInput .SearchBtn{
    height: 55px;
    width: 55px;
    line-height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
}

.searchInput .searchSuggestions{
    padding: 0px;
    max-height: 280px;
    overflow-y: none;
    opacity: 0%;
    pointer-events: none;
}

.searchInput.active .searchSuggestions{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.searchSuggestions li{
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: none;
}

.searchInput.active .searchSuggestions li{
    display: block;
}

.searchSuggestions li:hover{
    background: #efefef;
}
