#title {
    font-weight: bold;
    font-size: 45px;
    margin-left: 10px;
    margin-top: 10px;
    vertical-align: middle;
}

.coins-Panel{
    margin-top: 30px;
}

.coinsList{
    color: white;
    list-style-type: none;
    margin-top: 1px;
}

.coinRANK{
    display: inline-block;
    margin-left: 10px;
}

.coin-image{
    display: inline-block;
    margin-left: 50px;
}

.coin-info{
    display: inline-block;    
}

#coinIMG{
    max-width: 50px;
    max-height: 50px;
}

.coin{
    padding: 25px;
}

span.coinNAME{
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
}

span.coinSYMBOL{
    font-size: 12px;
    vertical-align: middle;
}

span.coinData{
    display: inline-block;
    margin-left: 125px;
}

span{
    display: inline-block;
    width: 100px;
    margin-left: 25px;
    max-width: 50px;
    vertical-align: middle;
}

.coinPRICE{
    margin-left: 300px;
}

.btn-image{
    background-color: transparent;
    border: 0;
}


#coinLOGO{
    max-width: 300px;
    max-height: 300px;
    
}

.coin-panel-details{
    color: white;
    text-align: center;
    margin-top: 30px;
}

.coinDetails{
    display: flex;
    vertical-align: middle;
    margin: 0 auto;
}

.searchBar{
    max-width: 450px;
    margin: 30px auto;
}

.searchBar .searchInput{
    background: white;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0 , 0 , 0 , 0.12);
    position: relative;
}

.searchInput input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.searchInput .icon{
    height: 55px;
    width: 55px;
    line-height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
}

.searchInput .searchSuggestions{
    padding: 0px;
    max-height: 280px;
    overflow-y: none;
    opacity: 0%;
    pointer-events: none;
}

.searchInput.active .searchSuggestions{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.searchSuggestions li{
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: none;
}

.searchInput.active .searchSuggestions li{
    display: block;
}

.searchSuggestions li:hover{
    background: #efefef;
}

.checkbox-favoritos{
    appearance: none;
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    background-color: #464646;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    
}

.checkbox-favoritos::after{
    font-family: "Font Awesome 5 Free"; 
    content: "\f005";
    font-weight: 900;
    font-size: 20px;
    color: white;
    display: none;
}

.checkbox-favoritos:checked::after{
    display: block;
}

.coinsHead{
    display: inline-block;
    border-radius: 5px;
    width: 100%;
    margin-left: 240px;
    margin-top: 50px;
}

.idHead{
    margin-left: 115px;
    font-size: 20px;
}

.nomeHead{
    margin-left: 205px;
    font-size: 20px;
}

.simboloHead{
    margin-left: 96px;
    font-size: 20px;
}

.precoHead{
    margin-left: 130px;
    font-size: 20px;
}

.marketcapHead{
    margin-left: 110px;
    font-size: 20px;
}

.moedasHead{
    margin-left: 40px;
    font-size: 20px;
}

.errorFavoritos{
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.errorMessage{
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.coinLOGO-container{
    float: left;
    margin-right: 50px;
}

.coin-panel-details{
    margin-top: 5px;
    margin-left: 50px;
    width: auto;
}

.details-container{
    max-width: 60%;
    justify-content: center;
    margin: auto;
    margin-top: 60px;
    border-style: solid;
    border-radius: 50px;
    border-color: white;
    padding: 20px;
    height: 325px;
}



